{
    "openapi": "3.0.3",
    "info": {
        "title": "Steam (Unofficial) API",
        "version": "1.0.0",
        "description": "This is an OpenAPI specification for the Steam API. For more details on how to use this tool, check out the <a href=\"https://github.com/ceva24/openapi-steamworks-web-api/blob/main/README.md\">README</a>. Additional documentation and examples can be found at the <a href=\"https://developer.valvesoftware.com/wiki/Steam_Web_API\">Steam Web API wiki</a>.",
        "termsOfService": "https://steamcommunity.com/dev/apiterms",
        "contact": {
            "name": "Steam Support",
            "url": "https://help.steampowered.com/"
        }
    },
    "servers": [
        {
            "url": "https://api.steampowered.com"
        },
        {
            "url": "https://partner.steam-api.com"
        }
    ],
    "paths": {
        "/IAuthenticationService/BeginAuthSessionViaCredentials/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IAuthenticationService#BeginAuthSessionViaCredentials"
                },
                "tags": [
                    "IAuthenticationService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "device_friendly_name": {
                                        "type": "string",
                                        "description": "(Required)"
                                    },
                                    "account_name": {
                                        "type": "string",
                                        "description": "(Required)"
                                    },
                                    "encrypted_password": {
                                        "type": "string",
                                        "description": "(Required) password, RSA encrypted client side"
                                    },
                                    "encryption_timestamp": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) timestamp to map to a key - STime",
                                        "default": null
                                    },
                                    "remember_login": {
                                        "type": "boolean",
                                        "description": "(Required) deprecated"
                                    },
                                    "platform_type": {
                                        "type": "string",
                                        "format": "{enum}",
                                        "description": "(Required)"
                                    },
                                    "persistence": {
                                        "type": "string",
                                        "format": "{enum}",
                                        "description": "whether we are requesting a persistent or an ephemeral session"
                                    },
                                    "website_id": {
                                        "type": "string",
                                        "description": "(EMachineAuthWebDomain) identifier of client requesting auth"
                                    },
                                    "device_details": {
                                        "type": "string",
                                        "format": "{message}",
                                        "description": "(Required) User-supplied details about the device attempting to sign in"
                                    },
                                    "guard_data": {
                                        "type": "string",
                                        "description": "(Required) steam guard data for client login"
                                    },
                                    "language": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required)",
                                        "default": null
                                    },
                                    "qos_level": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "[ENetQOSLevel] client-specified priority for this auth attempt",
                                        "default": null
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "BeginAuthSessionViaCredentials",
                "summary": "Begin Auth Session Via Credentials"
            }
        },
        "/IAuthenticationService/BeginAuthSessionViaQR/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IAuthenticationService#BeginAuthSessionViaQR"
                },
                "tags": [
                    "IAuthenticationService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "device_friendly_name": {
                                        "type": "string",
                                        "description": "(Required)"
                                    },
                                    "platform_type": {
                                        "type": "string",
                                        "format": "{enum}",
                                        "description": "(Required)"
                                    },
                                    "device_details": {
                                        "type": "string",
                                        "format": "{message}",
                                        "description": "(Required) User-supplied details about the device attempting to sign in"
                                    },
                                    "website_id": {
                                        "type": "string",
                                        "description": "(EMachineAuthWebDomain) identifier of client requesting auth"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "BeginAuthSessionViaQR",
                "summary": "Begin Auth Session Via QR"
            }
        },
        "/IAuthenticationService/GetAuthSessionInfo/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IAuthenticationService#GetAuthSessionInfo"
                },
                "tags": [
                    "IAuthenticationService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "client_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) client ID from scanned QR Code, used for routing",
                                        "default": null
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "GetAuthSessionInfo",
                "summary": "Get Auth Session Info"
            }
        },
        "/IAuthenticationService/GetAuthSessionRiskInfo/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IAuthenticationService#GetAuthSessionRiskInfo"
                },
                "tags": [
                    "IAuthenticationService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "client_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) client ID from scanned QR Code, used for routing",
                                        "default": null
                                    },
                                    "language": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) language for optimistic localization of geoloc data",
                                        "default": null
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "GetAuthSessionRiskInfo",
                "summary": "Get Auth Session Risk Info"
            }
        },
        "/IAuthenticationService/GetPasswordRSAPublicKey/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "account_name",
                        "in": "query",
                        "description": "(Required) user-provided account name to get an RSA key for",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the query string parameters; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IAuthenticationService#GetPasswordRSAPublicKey"
                },
                "tags": [
                    "IAuthenticationService"
                ],
                "operationId": "GetPasswordRSAPublicKey",
                "summary": "Get Password RSA Public Key"
            }
        },
        "/IAuthenticationService/NotifyRiskQuizResults/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IAuthenticationService#NotifyRiskQuizResults"
                },
                "tags": [
                    "IAuthenticationService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "client_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) client ID for the auth session, used for routing",
                                        "default": null
                                    },
                                    "results": {
                                        "type": "string",
                                        "format": "{message}",
                                        "description": "(Required) Whether or not the user correctly answered each risk quiz question"
                                    },
                                    "selected_action": {
                                        "type": "string",
                                        "description": "(Required) The action being taken selected by the user during the quiz"
                                    },
                                    "did_confirm_login": {
                                        "type": "boolean",
                                        "description": "(Required) Whether or not the user went on to confirm the login or not in the case of a passed quiz"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "NotifyRiskQuizResults",
                "summary": "Notify Risk Quiz Results"
            }
        },
        "/IAuthenticationService/PollAuthSessionStatus/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IAuthenticationService#PollAuthSessionStatus"
                },
                "tags": [
                    "IAuthenticationService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "client_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required)",
                                        "default": null
                                    },
                                    "request_id": {
                                        "type": "string",
                                        "description": "(Required)"
                                    },
                                    "token_to_revoke": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) If this is set to a token owned by this user, that token will be retired",
                                        "default": null
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "PollAuthSessionStatus",
                "summary": "Poll Auth Session Status"
            }
        },
        "/IAuthenticationService/UpdateAuthSessionWithMobileConfirmation/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IAuthenticationService#UpdateAuthSessionWithMobileConfirmation"
                },
                "tags": [
                    "IAuthenticationService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "version": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) version field",
                                        "default": null
                                    },
                                    "client_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) pending client ID, from scanned QR Code",
                                        "default": null
                                    },
                                    "steamid": {
                                        "$ref": "#/components/schemas/SteamId"
                                    },
                                    "signature": {
                                        "type": "string",
                                        "description": "(Required) HMAC digest over {version,client_id,steamid} via user's private key"
                                    },
                                    "confirm": {
                                        "type": "boolean",
                                        "description": "Whether to confirm the login (true) or deny the login (false)"
                                    },
                                    "persistence": {
                                        "type": "string",
                                        "format": "{enum}",
                                        "description": "whether we are requesting a persistent or an ephemeral session"
                                    }
                                },
                                "required": [
                                    "steamid"
                                ]
                            }
                        }
                    }
                },
                "operationId": "UpdateAuthSessionWithMobileConfirmation",
                "summary": "Update Auth Session With Mobile Confirmation"
            }
        },
        "/IAuthenticationService/UpdateAuthSessionWithSteamGuardCode/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IAuthenticationService#UpdateAuthSessionWithSteamGuardCode"
                },
                "tags": [
                    "IAuthenticationService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "client_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) pending client ID, from initialized session",
                                        "default": null
                                    },
                                    "steamid": {
                                        "$ref": "#/components/schemas/SteamId"
                                    },
                                    "code": {
                                        "type": "string",
                                        "description": "(Required) confirmation code"
                                    },
                                    "code_type": {
                                        "type": "string",
                                        "format": "{enum}",
                                        "description": "(Required) type of confirmation code"
                                    }
                                },
                                "required": [
                                    "steamid"
                                ]
                            }
                        }
                    }
                },
                "operationId": "UpdateAuthSessionWithSteamGuardCode",
                "summary": "Update Auth Session With Steam Guard Code"
            }
        },
        "/IBroadcastService/PostGameDataFrameRTMP/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IBroadcastService#PostGameDataFrameRTMP"
                },
                "tags": [
                    "IBroadcastService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "appid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) AppID of the game being broadcasted",
                                        "default": null
                                    },
                                    "steamid": {
                                        "$ref": "#/components/schemas/SteamId"
                                    },
                                    "rtmp_token": {
                                        "type": "string",
                                        "description": "(Required) Valid RTMP token for the Broadcaster"
                                    },
                                    "frame_data": {
                                        "type": "string",
                                        "description": "(Required) game data frame expressing current state of game (string, zipped, whatever)"
                                    }
                                },
                                "required": [
                                    "steamid"
                                ]
                            }
                        }
                    }
                },
                "operationId": "PostGameDataFrameRTMP",
                "summary": "Post Game Data Frame RTMP"
            }
        },
        "/ICSGOPlayers_730/GetNextMatchSharingCode/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "steamid",
                        "in": "query",
                        "description": "The SteamID of the user",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SteamId"
                        }
                    },
                    {
                        "name": "steamidkey",
                        "in": "query",
                        "description": "Authentication obtained from the SteamID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "knowncode",
                        "in": "query",
                        "description": "Previously known match sharing code obtained from the SteamID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ICSGOPlayers_730#GetNextMatchSharingCode"
                },
                "tags": [
                    "ICSGOPlayers"
                ],
                "operationId": "GetNextMatchSharingCode",
                "summary": "Get Next Match Sharing Code"
            }
        },
        "/ICSGOServers_730/GetGameMapsPlaytime/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "interval",
                        "in": "query",
                        "description": "What recent interval is requested, possible values: day, week, month",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gamemode",
                        "in": "query",
                        "description": "What game mode is requested, possible values: competitive, casual",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mapgroup",
                        "in": "query",
                        "description": "What maps are requested, possible values: operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ICSGOServers_730#GetGameMapsPlaytime"
                },
                "tags": [
                    "ICSGOServers"
                ],
                "operationId": "GetGameMapsPlaytime",
                "summary": "Get Game Maps Playtime"
            }
        },
        "/ICSGOServers_730/GetGameServersStatus/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ICSGOServers_730#GetGameServersStatus"
                },
                "tags": [
                    "ICSGOServers"
                ],
                "operationId": "GetGameServersStatus",
                "summary": "Get Game Servers Status"
            }
        },
        "/ICSGOTournaments_730/GetTournamentFantasyLineup/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "event",
                        "in": "query",
                        "description": "The event ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": null
                        }
                    },
                    {
                        "name": "steamid",
                        "in": "query",
                        "description": "The SteamID of the user inventory",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SteamId"
                        }
                    },
                    {
                        "name": "steamidkey",
                        "in": "query",
                        "description": "Authentication obtained from the SteamID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ICSGOTournaments_730#GetTournamentFantasyLineup"
                },
                "tags": [
                    "ICSGOTournaments"
                ],
                "operationId": "GetTournamentFantasyLineup",
                "summary": "Get Tournament Fantasy Lineup"
            }
        },
        "/ICSGOTournaments_730/GetTournamentItems/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "event",
                        "in": "query",
                        "description": "The event ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": null
                        }
                    },
                    {
                        "name": "steamid",
                        "in": "query",
                        "description": "The SteamID of the user inventory",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SteamId"
                        }
                    },
                    {
                        "name": "steamidkey",
                        "in": "query",
                        "description": "Authentication obtained from the SteamID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ICSGOTournaments_730#GetTournamentItems"
                },
                "tags": [
                    "ICSGOTournaments"
                ],
                "operationId": "GetTournamentItems",
                "summary": "Get Tournament Items"
            }
        },
        "/ICSGOTournaments_730/GetTournamentLayout/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "event",
                        "in": "query",
                        "description": "The event ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": null
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ICSGOTournaments_730#GetTournamentLayout"
                },
                "tags": [
                    "ICSGOTournaments"
                ],
                "operationId": "GetTournamentLayout",
                "summary": "Get Tournament Layout"
            }
        },
        "/ICSGOTournaments_730/GetTournamentPredictions/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "event",
                        "in": "query",
                        "description": "The event ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": null
                        }
                    },
                    {
                        "name": "steamid",
                        "in": "query",
                        "description": "The SteamID of the user inventory",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/SteamId"
                        }
                    },
                    {
                        "name": "steamidkey",
                        "in": "query",
                        "description": "Authentication obtained from the SteamID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ICSGOTournaments_730#GetTournamentPredictions"
                },
                "tags": [
                    "ICSGOTournaments"
                ],
                "operationId": "GetTournamentPredictions",
                "summary": "Get Tournament Predictions"
            }
        },
        "/ICSGOTournaments_730/UploadTournamentFantasyLineup/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ICSGOTournaments_730#UploadTournamentFantasyLineup"
                },
                "tags": [
                    "ICSGOTournaments"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "event": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The event ID",
                                        "default": null
                                    },
                                    "steamid": {
                                        "$ref": "#/components/schemas/SteamId"
                                    },
                                    "steamidkey": {
                                        "type": "string",
                                        "description": "Authentication obtained from the SteamID"
                                    },
                                    "sectionid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Event section id",
                                        "default": null
                                    },
                                    "pickid0": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "PickID to select for the slot",
                                        "default": null
                                    },
                                    "itemid0": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "ItemID to lock in for the pick",
                                        "default": null
                                    },
                                    "pickid1": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "PickID to select for the slot",
                                        "default": null
                                    },
                                    "itemid1": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "ItemID to lock in for the pick",
                                        "default": null
                                    },
                                    "pickid2": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "PickID to select for the slot",
                                        "default": null
                                    },
                                    "itemid2": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "ItemID to lock in for the pick",
                                        "default": null
                                    },
                                    "pickid3": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "PickID to select for the slot",
                                        "default": null
                                    },
                                    "itemid3": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "ItemID to lock in for the pick",
                                        "default": null
                                    },
                                    "pickid4": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "PickID to select for the slot",
                                        "default": null
                                    },
                                    "itemid4": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "ItemID to lock in for the pick",
                                        "default": null
                                    }
                                },
                                "required": [
                                    "event",
                                    "steamid",
                                    "steamidkey",
                                    "sectionid",
                                    "pickid0",
                                    "itemid0",
                                    "pickid1",
                                    "itemid1",
                                    "pickid2",
                                    "itemid2",
                                    "pickid3",
                                    "itemid3",
                                    "pickid4",
                                    "itemid4"
                                ]
                            }
                        }
                    }
                },
                "operationId": "UploadTournamentFantasyLineup",
                "summary": "Upload Tournament Fantasy Lineup"
            }
        },
        "/ICSGOTournaments_730/UploadTournamentPredictions/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ICSGOTournaments_730#UploadTournamentPredictions"
                },
                "tags": [
                    "ICSGOTournaments"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "event": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The event ID",
                                        "default": null
                                    },
                                    "steamid": {
                                        "$ref": "#/components/schemas/SteamId"
                                    },
                                    "steamidkey": {
                                        "type": "string",
                                        "description": "Authentication obtained from the SteamID"
                                    },
                                    "sectionid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Event section id",
                                        "default": null
                                    },
                                    "groupid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Event group id",
                                        "default": null
                                    },
                                    "index": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Index in group",
                                        "default": null
                                    },
                                    "pickid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Pick ID to select",
                                        "default": null
                                    },
                                    "itemid": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "ItemID to lock in for the pick",
                                        "default": null
                                    }
                                },
                                "required": [
                                    "event",
                                    "steamid",
                                    "steamidkey",
                                    "sectionid",
                                    "groupid",
                                    "index",
                                    "pickid",
                                    "itemid"
                                ]
                            }
                        }
                    }
                },
                "operationId": "UploadTournamentPredictions",
                "summary": "Upload Tournament Predictions"
            }
        },
        "/ICheatReportingService/ReportCheatData/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ICheatReportingService#ReportCheatData"
                },
                "tags": [
                    "ICheatReportingService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "steamid": {
                                        "$ref": "#/components/schemas/SteamId"
                                    },
                                    "appid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) The appid.",
                                        "default": null
                                    },
                                    "pathandfilename": {
                                        "type": "string",
                                        "description": "(Required) path and file name of the cheat executable."
                                    },
                                    "webcheaturl": {
                                        "type": "string",
                                        "description": "(Required) web url where the cheat was found and downloaded."
                                    },
                                    "time_now": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) local system time now.",
                                        "default": null
                                    },
                                    "time_started": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) local system time when cheat process started. ( 0 if not yet run )",
                                        "default": null
                                    },
                                    "time_stopped": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) local system time when cheat process stopped. ( 0 if still running )",
                                        "default": null
                                    },
                                    "cheatname": {
                                        "type": "string",
                                        "description": "(Required) descriptive name for the cheat."
                                    },
                                    "game_process_id": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) process ID of the running game.",
                                        "default": null
                                    },
                                    "cheat_process_id": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) process ID of the cheat process that ran",
                                        "default": null
                                    },
                                    "cheat_param_1": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) cheat param 1",
                                        "default": null
                                    },
                                    "cheat_param_2": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) cheat param 2",
                                        "default": null
                                    },
                                    "cheat_data_dump": {
                                        "type": "string",
                                        "description": "(Required) data collection in json format"
                                    }
                                },
                                "required": [
                                    "steamid"
                                ]
                            }
                        }
                    }
                },
                "operationId": "ReportCheatData",
                "summary": "Report Cheat Data"
            }
        },
        "/IClientStats_1046930/ReportEvent/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IClientStats_1046930#ReportEvent"
                },
                "tags": [
                    "IClientStats"
                ],
                "operationId": "ReportEvent",
                "summary": "Report Event"
            }
        },
        "/IContentServerConfigService/GetSteamCacheNodeParams/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "cache_id",
                        "in": "query",
                        "description": "(Required) Unique ID number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": null
                        }
                    },
                    {
                        "name": "cache_key",
                        "in": "query",
                        "description": "(Required) Valid current cache API key",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the query string parameters; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerConfigService#GetSteamCacheNodeParams"
                },
                "tags": [
                    "IContentServerConfigService"
                ],
                "operationId": "GetSteamCacheNodeParams",
                "summary": "Get Steam Cache Node Params"
            }
        },
        "/IContentServerConfigService/SetSteamCacheClientFilters/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerConfigService#SetSteamCacheClientFilters"
                },
                "tags": [
                    "IContentServerConfigService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "cache_id": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) Unique ID number",
                                        "default": null
                                    },
                                    "cache_key": {
                                        "type": "string",
                                        "description": "(Required) Valid current cache API key"
                                    },
                                    "change_notes": {
                                        "type": "string",
                                        "description": "(Required) Notes"
                                    },
                                    "allowed_ip_blocks": {
                                        "type": "string",
                                        "description": "(Required) comma-separated list of allowed IP address blocks in CIDR format - blank to clear unfilter"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "SetSteamCacheClientFilters",
                "summary": "Set Steam Cache Client Filters"
            }
        },
        "/IContentServerConfigService/SetSteamCachePerformanceStats/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerConfigService#SetSteamCachePerformanceStats"
                },
                "tags": [
                    "IContentServerConfigService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "cache_id": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) Unique ID number",
                                        "default": null
                                    },
                                    "cache_key": {
                                        "type": "string",
                                        "description": "(Required) Valid current cache API key"
                                    },
                                    "mbps_sent": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) Outgoing network traffic in Mbps",
                                        "default": null
                                    },
                                    "mbps_recv": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) Incoming network traffic in Mbps",
                                        "default": null
                                    },
                                    "cpu_percent": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) Percent CPU load",
                                        "default": null
                                    },
                                    "cache_hit_percent": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) Percent cache hits",
                                        "default": null
                                    },
                                    "num_connected_ips": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) Number of unique connected IP addresses",
                                        "default": null
                                    },
                                    "upstream_egress_utilization": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) (deprecated) What is the percent utilization of the busiest datacenter egress link?",
                                        "default": null
                                    },
                                    "upstream_peering_utilization": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) What is the percent utilization of the busiest peering link?",
                                        "default": null
                                    },
                                    "upstream_transit_utilization": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) What is the percent utilization of the busiest transit link?",
                                        "default": null
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "SetSteamCachePerformanceStats",
                "summary": "Set Steam Cache Performance Stats"
            }
        },
        "/IContentServerDirectoryService/GetCDNForVideo/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "property_type",
                        "in": "query",
                        "description": "(Required) ECDNPropertyType",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": null
                        }
                    },
                    {
                        "name": "client_ip",
                        "in": "query",
                        "description": "(Required) client IP address",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_region",
                        "in": "query",
                        "description": "(Required) client region",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the query string parameters; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerDirectoryService#GetCDNForVideo"
                },
                "tags": [
                    "IContentServerDirectoryService"
                ],
                "operationId": "GetCDNForVideo",
                "summary": "Get CDN For Video"
            }
        },
        "/IContentServerDirectoryService/GetClientUpdateHosts/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "cached_signature",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the query string parameters; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerDirectoryService#GetClientUpdateHosts"
                },
                "tags": [
                    "IContentServerDirectoryService"
                ],
                "operationId": "GetClientUpdateHosts",
                "summary": "Get Client Update Hosts"
            }
        },
        "/IContentServerDirectoryService/GetDepotPatchInfo/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": null
                        }
                    },
                    {
                        "name": "depotid",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": null
                        }
                    },
                    {
                        "name": "source_manifestid",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": null
                        }
                    },
                    {
                        "name": "target_manifestid",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": null
                        }
                    },
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the query string parameters; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The format of the response. Defaults to json",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "vdf"
                            ]
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerDirectoryService#GetDepotPatchInfo"
                },
                "tags": [
                    "IContentServerDirectoryService"
                ],
                "operationId": "GetDepotPatchInfo",
                "summary": "Get Depot Patch Info"
            }
        },
        "/IContentServerDirectoryService/GetServersForSteamPipe/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A successful request"
                    },
                    "400": {
                        "description": "If the user fails to supply all required fields, or supplies invalid data"
                    },
                    "403": {
                        "description": "If the user fails to supply a valid API key, or if the key does not allow access to this resource"
                    }
                },
                "parameters": [
                    {
                        "name": "cell_id",
                        "in": "query",
                        "description": "(Required) client Cell ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": null
                        }
                    },
                    {
                        "name": "max_servers",
                        "in": "query",
                        "description": "max servers in response list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": null
                        }
                    },
                    {
                        "name": "ip_override",
                        "in": "query",
                        "description": "client IP address",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
[...]
